name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Fix ancient memory issue
      run: echo "org.gradle.jvmargs=-Xmx4g" >> gradle.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew build --no-daemon
      
    - name: Upload APK  # 保存产物
      uses: actions/upload-artifact@v4
      with:
        name: ancient-compose-apk
        path: app/build/outputs/apk/**/*.apk
